#title{
	margin: 10px 0 0px 0;
	background-color: brown;
	color: white;
	width: 50%;
	padding: 20px;
}

#instructions{
	margin: 10px 0 10px 0;
	background-color: beige;
	color: green;
	width: 50%;
	padding-bottom: 50px;
}

#random{
	background-color: lightgreen;
	margin: 10px 0 10px 0;
	width: 30%;
	padding-bottom: 120px;
	padding-right: 235px;
}

#winslosses{
	background-color: #00FFFF;
	margin: 10px 0 10px 0;
	width: 50%;
	padding-bottom: 40px;
}

#scorestyle{
	background-color: darkgreen;
	color: white;
	margin: 10px 0 10px 0;
	width: 20%;
}

#counterstyle{
	background-color: darkgreen;
	color: white;
	margin: 0 0 10px 0;
	width: 20%;
	padding-bottom: 80px;
}

#buttons{
	padding-right: -20px;
	color: transparent;
}
